@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css');

body, html {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 1.5rem;
}

.navbar {
    background-color: #1b214d !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar * {
    color: white;
}

@media screen and (max-width: 768px) {
    .body {
        padding: 1rem 1rem;
    }
}
@media screen and (min-width: 769px) {
    .body {
        padding-top: 1rem;
        width: 30%;
    }
    #logo {
        transform: scale(2);
    }
}

.is-insta:active,
.is-insta:link,
.is-insta:focus,
.is-insta:hover,
.is-insta:visited {
    color: white;
    background: rgb(131,58,180);
    background: linear-gradient(135deg, rgba(131,58,180,1), rgba(253,29,29,1), rgba(252,176,69,1));
    border-color: rgb(131,58,180);
}

.is-fb:active,
.is-fb:link,
.is-fb:visited,
.is-fb:hover,
.is-fb:focus {
    color: white;
    background-color: #3b5998;
    border-color: #3b5998;
}